@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
   /* outline: 1px solid red;   */
   
}
html{
    scroll-behavior: smooth;
  }

.p{
    color: rgb(85, 85, 85);
}

.limita-sessao{
    margin:0 auto;
    max-width: 1120px;
   
}

