.figura-props img {
    width: 100%;
    border-radius: 2rem;
}

.figura-props {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    width: 340px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 3rem;
  
}

.figura-props:hover{
    transform: scale(110%);
    transition: .6s;
}

.figura-props h3{
    font-size: 1.5rem;
    margin: 0.5rem 0rem;
}

.btn-project a {
    display: inline-block;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 2rem;
    transition: all 0.3s ease;
}

.btn-project a {
    color: #000;
    background-color: #fff;
}

.btn-project {
    border-radius: 2rem;
    border: none;
    margin: 0.5rem;
}


.btn-project a:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

.btn-project a:active {
    background-color: #fff;
    transform: scale(0.8);
    transition: .6s;
}


@media screen and (max-width:1116px) {
    .figura-props {
       width: 45%;
    }
    .figura-props:nth-child(3) {
        width: 100%;
        
  }

}

  @media screen and (max-width:700px) {
    .figura-props{
        width: 90%;
    }
  }