footer{
    
        text-align: center;
    }
    
    nav ul{
     display: flex;
    justify-content: center;
    
    }
    nav ul li{
        margin: 0.8rem 1rem;
    }
    
    
    footer p{
        padding: 4rem 0rem;
        color: rgb(85, 85, 85);
    }
    
    
    @media screen and (max-width:600px) {
     
        nav ul{
            display: flex;
            flex-direction: column;
      }
    }